.form-control{
	width: 100%;
	display: inline-block;
}

.date_div,.project_div,.activity_div{
	width: 17%;
	margin-right:35px;
	display: inline-block;
}

.hour_div,.minute_div{
	width: 10%;
	margin:0px;
	display: inline-block;
}

label{
	/*font-weight: bold;*/
}